body{
	font-family: Helvetica, Sans-serif;
	font-size: 20px;
	margin: 0;
	background-color: whitesmoke;
	margin: 0;
}

ul{
	list-style-image: url('./green-arrow.svg');
	width: 40%
}

.navbar {
	background-color: #333;
	height: 100px;
	color: white;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	background-color: white;
	padding: 20px;
	box-shadow: 3px 4px 4px #888888;

}

.checkbox {
	width: 90%;
	margin-left: 20px;
	border-bottom: solid rgb(220,220,220) 1px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.done{
	text-decoration: line-through;
	color: rgb(200,200,200);
}

footer{
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	margin-bottom: 0px;
	height: 100px;
}

.joke-item{
	background-color: lightgreen;
	text-align: center;
	margin: 0 auto;
	max-width: 80%;
	box-shadow: 3px 4px 4px #888888;
	border: 1px solid;
	margin-bottom: 20px;
}


.contacts{
	margin-left: 30px;
}