body{
	font-family: Helvetica, Sans-serif;
	font-size: 20px;
	margin: 0;
	background-color: whitesmoke;
}

ul{
	list-style-image: url('./green-arrow.svg');
	width: 40%
}

.navbar {
	background-color: #333;
	height: 100px;
	color: white;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	background-color: white;
	padding: 20px;
}

.checkbox {
	width: 30%;
	margin-left: 20px;
	border-bottom: solid black 1px;
	margin-top: 30px;
	margin-bottom: 30px;
}

footer{
	text-align: center;
}